<nav class="navbar navbar-expand-md flex-row-reverse h-100 py-0">
    <div class="d-flex pe-3">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#testNav"
            aria-controls="testNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="px-0">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav m-0">
                <li class="nav-item px-3 px-lg-4">
                    <a class="nav-link px-2" href="#">About</a>
                </li>
                <li class="nav-item px-3 px-lg-4">
                    <a class="nav-link px-2" href="#">Portfolio</a>
                </li>
                <li class="nav-item px-3 px-lg-4">
                    <a class="nav-link px-2" href="#">Images</a>
                </li>
                <li class="nav-item d-none d-md-flex px-3 px-lg-4">
                    <a class="nav-link linkedin-icon" target="_blank"
                        href="https://www.linkedin.com/in/jackson-sorrells-058b55130/"></a>
                </li>
            </ul>
        </div>
    </div>

</nav>