<!-- Trying to separate the background image (so nothing is contained in it) so that it can be blurred without blurring the rest of the text -->

<div id="bg-image-home"></div>

<div id="bg-main-home" class="d-flex flex-column min-vh-100 overflow-hidden">

    <!--HEADER-->
    <app-header></app-header>

    <main class="d-flex flex-grow-1 justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="mb-0 display-4">Welcome</h1>
        </div>
    </main>

    <!--FOOTER-->
    <app-footer class="container-fluid"></app-footer>

</div>

